html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    font-family: "Plus Jakarta Sans", sans-serif !important;
}

.container {
    flex: 1 0 auto;
}

/* Navbar */
.navbar {
    height: 5rem;
    background-color: white;
}

.fa-compass {
    color: #fe424d;
    font-size: 2rem;

}

.nav-link {
    color: #222222 !important;
}

/*footer*/

.f-info-links a {
    text-decoration: none;
    color: #222222;
}

.f-info-links a:hover {
    text-decoration: underline;
}

.f-info-links,
.f-info-socials,
.f-info-brand {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.f-info-socials i {
    font-size: 1.2rem;
    margin-right: 1rem;
}

.f-info {
    height: 8rem;
    background-color: #ebebeb;
    display: flex;
    flex-wrap: wrap;
}

footer {
    flex-shrink: 0;
}

/*cards*/
.card {
    border: none !important;
    margin-bottom: 2rem;
    opacity: 1;

}

.card:hover{
    opacity: 0.85;
    background-color: white;
}

.card-img-top {
    border-radius: 1rem !important;
    width: 100% !important;
    object-fit: cover !important;
}

.card-body {
    padding: 0 !important;
}

.card-text {
    font-weight: 400 !important;
    width: 100%;
    padding-left: 1%;
}

.listing-link{
    text-decoration: none;
}

/*new listing*/
.add-btn{
    border: none !important;
    background-color: #fe424d !important;
}

/*Edit listing*/
.edit-btn{
    border: none !important;
    background-color: #fe424d !important;
}

/*show listings*/
.show-img{
    height: 40vh;
    /* width: 90% !important; */
    padding-left: 1%;
    padding-right: 1%;
    border-radius: 2rem !important;
}

.show-card:hover{
    opacity: 1;
}

.btns{
    display: flex;
    align-items: center;
}

/* reviews*/
.review-card{
    border: 1px solid #2525255e;
    border-radius: 1rem;
    margin-right: 7%;
    margin-left: 1%;
}